body {
  background: #dddcdc;
}

section.firstsection {
  display: grid;
  grid-template-columns: 1fr 327px 1fr;
}

h1.intro {
  width: 295px;
  height: 150px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h3 {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

p.intro {
  width: 295px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

img.socialbutton {
  padding: 5px 10px;
}

.socialbutton:hover {
  background-color: lightgoldenrodyellow;
}

section.Introduction {
  background: #fff;
  background-image: url("Images/header-shapes\ mobile.png");
  background-size: cover;
  height: 618px;
  width: 295px;
  border: 0 solid #dfe1e6;
  padding: 16px;
  grid-column-start: 2;
  border-bottom-left-radius: 50px;
}

header.Toolbar {
  background: #fff;
  width: 295px;
  margin: 0 auto;
  border: 0 solid #dfe1e6;
  padding: 16px;
  grid-column-start: 2;
}

nav {
  padding: 16px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
}

div.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style: none;
}

ul.social {
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

section.worksec {
  display: grid;
  grid-template-columns: 1fr 327px 1fr;
}

div.work {
  margin: 10px 0 0 0;
}

h2.work {
  width: 295px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 10px 0;
}

img.work {
  width: 295px;
  height: 220px;
  margin: 0 auto;
}

section.work {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 10px auto;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

p.work {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

ul.languages {
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

li.languages {
  padding: 0 5px;
  margin: 0;
}

.worksee:hover {
  left: 252px;
  color: #fff;
  top: calc(50% - 48px/2 + 57.5px);
  background: #6070FF;
  border-radius: 8px;
}

.worksee:focus {
  background: #2230D2;
  border-radius: 8px;
  color: #fff;
}

.worksee {
  background-color: white;
  color: #6070FF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  height: 47px;
  padding: 12px 16px;
  border: 1px solid #C1C7D0;
  border-radius: 8px;
}

header.AboutMe {
  padding: 60px 0 0 0;
}

section.AboutMe {
  grid-column-start: 2;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 60px;
  padding: 16px;
  margin: 10px auto;
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

h2.AboutMe {
  padding: 100px 0 0 0;
  width: 295px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p.AboutMe {
  width: 295px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.AboutMeLang {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.AboutMeButton {
  width: 295px;
}

.AboutMeButton:hover {
  background-color: lightgrey;
  margin: 0 auto;
}

section.Contact-form {
  display: grid;
  grid-template-columns: 1fr 327px 1fr;
}

footer.Contact-form {
  grid-column-start: 2;
  border-top-left-radius: 50px;
  padding: 16px;
  margin: 0 auto;;
  width: 295px;
  height: 729px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(96, 112, 255, 1);
  background-image: url("Images/background-contatform.png");
  grid-column-start: 2;
}

h2.Contact-form {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

p.Contact-form {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 315px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #fff;
}

#full-name {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  width: 295px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  margin: 10px;
}

#email-address {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  width: 295px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  margin: 10px;
}

#message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 295px;
  height: 170px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  margin: 10px;
}

button.Contact-form {
  margin-left: 25px;
}

#fs-frm-inputs {
  border: none;
}

.ContactSubmit {
  background-color: white;
  color: #6070FF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0 25px;
  height: 47px;
  padding: 12px 16px;
  border: 1px solid #C1C7D0;
  border-radius: 8px;
}

.ContactSubmit:hover {
  left: 252px;
  color: #fff;
  top: calc(50% - 48px/2 + 57.5px);
  background: #6070FF;
  border-radius: 8px;
}

.ContactSubmit:focus {
  background: #2230D2;
  border-radius: 8px;
  color: #fff;
}

img.Contact-form {
  margin-top: 35px;
  margin-bottom: 0;
}
