
h1 {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
}

h3 {
  width: 117px;
  height: 24px;  
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;  
  color: #7F8CFF;
}

p {
  width: 327px;
  height: 146px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

img {
  padding: 5px 10px;
}

section {
  background: #FFFFFF;
  background-image: url("Images/header-shapes\ mobile.png");
  background-size: cover;
  height: 718px;
  width: 375px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social.div { 
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
}

.intro.div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button:hover{
  background-color: lightcyan;
}

