h1.intro {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h3 {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

p.intro {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

img.button {
  padding: 5px 10px;
}

section.Introduction {
  background: #fff;
  background-image: url("Images/header-shapes\ mobile.png");
  background-size: cover;
  height: 718px;
  width: 375px;
  margin: 0 auto;
}

header.Toolbar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button:hover {
  background-color: lightcyan;
}

ul {
  list-style: none;
}

ul.social {
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

section.worksec {
  display: grid;
  grid-template-columns: 1fr 375px 1fr;
}

div.work {
  padding: 60px 0 0 0;
}

section.work {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  margin: 40px auto;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.AboutMe {
  grid-column-start: 2;
}

h2.work {
  width: 327px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

img.work {
  width: 395px;
  height: 290px;
}

p.work {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

ul.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  width: 65px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 10px;
  margin: 5px;
}

.worksee {
  width: 200px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 3px solid #dfe1e6;
  border-radius: 16px;
}

header.AboutMe {
  padding: 60px 0 0 0;
}

h2.AboutMe {
  padding: 100px 0 0 0;
  width: 327px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p.AboutMe {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.AboutMeLang {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.AboutMeButton:hover {
  background-color: lightgrey;
}
